$blue: #2196F3;
$dingy: #495B6A;
$white: #ffffff;
$purple: #673AB7;
$yellow: #FFEB3B;
$red: #F44336;
$orange: #FF5722;
$black: #333333;

$nav: 100;

$navHeight: 60px;

$trans: 0.3s ease;

* {
  box-sizing: border-box;
}

body {
  /* position: relative; */
  background-color: $orange;
}

.title {
  color: $white;
  text-align: center;
  font-weight: 100;
}

.wrapper {
  height: 520px;
  width: 320px;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  
  box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.5);
  
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    width: 100%;
    height: 100%;
    
    p {
      font-size: 2em;  
      margin: 0 0 10px 0;
    }

    button {
      margin: 5px;
      width: 170px;
      height: 40px;
      font-size: 1em;
    }
  }

  .inner {
    overflow: scroll;
    height: 520px;
    transform: scale(-1);
    padding-top: $navHeight;
    background: darken($white, 5%);
    
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    //gotta hide windows scrollbars
    
    &::-webkit-scrollbar {
      width: 0 !important
    }
    
    .content {
      padding: ($navHeight - ($navHeight/1.5)) / 2;
      position: relative;
      margin-bottom: $navHeight/2;
    }
  }
  
  transition: $trans;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $navHeight;
  z-index: $nav;

  .default-nav {
    height: $navHeight;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: $nav + 10;

    background-color: $red;
    border-bottom: 3px solid darken($red, 10%);;
    color: $white;

    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.1);

    .main-nav {
      position: absolute;
      left: 0;
      width: 100%;
      height: $navHeight;
      top: 0;

      margin: 0;
      padding: 0;

      list-style: none;
      
      .toggle {
        height: 32px;
        width: 32px;
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_arrow_back_white_48dp.png);
        background-size: contain;
        margin: 16px;
        float: left;
        
        &:hover {
          cursor: pointer;
        }
      }
      
      .options {
        height: 32px;
        width: 32px;
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_more_vert_white_48dp.png);
        background-size: contain;
        margin: 16px;
        position: absolute;
        right: 0;
        
        &:hover {
          cursor: pointer;
        }
      }

      .main-nav-item {
        float: left;
        height: $navHeight;
        margin-right: 50px;
        position: relative;

        // text-align: center;
        line-height: $navHeight;

        .main-nav-item-link {
          display: block;
          position: relative;
          height: $navHeight;
          width: 100%;

          text-align: center;
          line-height: $navHeight;
          text-decoration: none;
          color: inherit;

          transition: $trans;
        }

        transition: $trans;
      }
      
      transition: $trans;
    }

    transition: $trans;
  }
  
  transition: $trans;
}

.bottom {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  height: $navHeight;
  background: $white;
  
  /* box-shadow: 0px -3px 3px 0px rgba(50, 50, 50, 0.1); */
  
  .input {
    height: $navHeight;
    background: $white;
    border: none;
    width: calc(100% - #{$navHeight} - 20px);
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 5%;
    resize: none;
    overflow: scroll;
    padding-top: ($navHeight/2) - 8;
    font-weight: 300;
    font-size: 16px;
    font-family: times;
    
    &:focus {
      outline: none;
    }
  
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    //gotta hide windows scrollbars
    
    &::-webkit-scrollbar {
      width: 0 !important
    }
  }

  .send {
    position: fixed;
    height: $navHeight/2;
    width: $navHeight/2;
    border-radius: 50%;
    border: 0;
    background: $red;
    color: $white;
    
    bottom: ($navHeight - ($navHeight/1.5)) / 2;
    right: ($navHeight - ($navHeight/1.5)) / 2 - 8px;
    
    &:before {
      content: '';
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAA9klEQVQ4T6WSbXECQRBEXzvAQYIDcAAOkIADcJA4AAcgARwQB0gABeCgU33Zg0txx0exv6Z250339J144+gNlpdg21PgS1I/ok/BNVT6D5JGD+EG9AN8AxOgJyn1rbLtHjAD5sC2QANgB6yBpaTUV7gDOgOr9Ema2D4AA0m5/4Nt15M3Ucyj7VhcAh/AGAi4kZTe6lwCazQvym55i81pAir7RzXr/IeLg896t4RiO06itrYdF/vUrXAZkDCSZmzuJGVgVtvHkaTc3yo34BMwzGeJ7eImqtWge3CsRiU20xybBo5J/C7c9q/bzhpnSRnYrdwGd939AonQZxB8db/AAAAAAElFTkSuQmCC) no-repeat center center;
    background-size: $navHeight/3.3;
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
    }
    
    &:focus {
      outline: none;
    }
    
    &:hover {
      cursor: pointer;
    }
  }

  .emoji {
    @extend .send;
    background: #c4c4c4;
    right: ($navHeight - ($navHeight/1.5)) / 2 + 26px;
    &:before {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABfElEQVQ4T62U4VECQQyFv1eB0IFWIFQAViBWoCVABWIFagVgBWoFagVqB3YgVhDnMblzOQ6EGXaGP1z2S95LsuLARwfmsRUYER1gAPQy8QfwJmmxqZBWYIJugSvgBzDIx+AjYA5M2sBrwIjwpccETSU9ldVExAiYJvhCUpVsGbYCzMreU5araz0Zd5d29MtKm0BL6UmqPNvYs4S+2g5JdfIamAHfgGU8pfSBpPuG5DHwaqkp3/Z0qypLoL2ZS3JniQhnN7CpItKSYca541eV1yXQRg8lVYHHQKdpela+kPRVJHbFvv/XlIhYAe468KmkFWjJM0ndXWH/SbZ3y6bYdMCSam+qJNmIGXBii3Jm15uS2Tw2p5L6acF1boX/9/F4+HcDeA5fgM/WsUmgq/TkO3CSq+YxOU/gc4Ic49U8y7mtd3vT6nndLN+rZ0h9UrIrt9ejratX+ORKLekScPbycfC3B2C80+PQqMaXbXz5fHlE9nu+9hmbZuzBX+xfcgiyFecl+5QAAAAASUVORK5CYII=) no-repeat center center;
    }
  }

  .camera {
    @extend .send;
    background: #c4c4c4;
    right: ($navHeight - ($navHeight/1.5)) / 2 + 60px;
    
    &:before {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABSUlEQVQ4T71UUVHDQBTcdUAdICEOCAqohOIgKGgdEAl1QHFQHFRCHYCDZTbzLpNcL03KdHifyd6+3ff2jrhz8c58mCSUtAawA/CTNX0A0JA8lsR0hJIeAbwAMDjVK4CK5IhQkjEm+xhgjfkkeaakGkAL4JB1PJA8lVTEGZ8blh01JrStoy1I2lswSau7qVKTnjBmZaUC8GZ1kioAWwCrYP+Of+e82wVhKGwMJNkGwOq9gM56NHDTXb6UIuGwqyST1FNLIWn1fV0ljJ9rkp3igr1uiUOVc4TemCNjyyVCfz+R7JMxR2g7nt1mgtBpaIexWjrDTZ7FtBiSoxwuIfTtsaV3AF+h9MmxAeD5jqIzSxgx8TWz7aTGV26fbz6wxtQp2KMB33RFAhyPSWVCW0uXPX9ZlnLbyXM3inQiZrCU4AKXMvl/D+xfpf4CMo/ZzmRzW6sAAAAASUVORK5CYII=) no-repeat center center;
    }
  }
}

.emojis-box {
  left: 20px;
  right: 20px;
  bottom: 80px;
  padding: 10px;
  position: fixed;
  background: white;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(143,143,143,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(143,143,143,1);
  box-shadow: 0px 0px 5px 0px rgba(143,143,143,1);
  
  &.deactive{
    display: none; 
  }

  &:before {
    content: '';
    border-width: 20px 20px 0 0;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    bottom: -20px;
    right: 40px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  span {
    margin: 1px;
    cursor: pointer;
  } 
}

.message-wrapper {
  position: relative;
  overflow: hidden;
  transform: scale(-1);
  
  width: 100%;
  padding: (($navHeight - ($navHeight/1.7)) / 2) 0;
  
  .circle-wrapper {
    height: $navHeight/1.5;
    width: $navHeight/1.5;
    border-radius: 50%;
  }

  .loading-image {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text-wrapper {
    padding: ($navHeight - ($navHeight/1.5)) / 2;
    min-height: $navHeight/1.5;
    margin: 0 ($navHeight - ($navHeight/1.5)) / 2;
    box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
    border-radius: 2px;
    font-weight: 300;
    position: relative;
    /* word-break: break-all; */
    opacity: 0;
    
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
    }

    p {
      margin: 3px 0 0;
    }
  }
  
  &.them {
    .circle-wrapper, .text-wrapper {
      background: $red;
      float: left;
      color: $white;
    }

    .circle-wrapper {
      position: absolute;
      left: 0;
      top: 0;
    }
    
    .text-wrapper {
      margin-left: 55px;
      
      &:before {
        border-width: 0 10px 10px 0;
        border-color: transparent $red transparent transparent;
        position: absolute;
        top: 0;
        left: -9px;
      }
    }
  }
  
  &.me {
    .circle-wrapper, .text-wrapper {
      background: $orange;
      float: right;
      color: $black;
    }

    .circle-wrapper {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .text-wrapper {
      background: $white;
      margin-right: 55px;
      
      &:before {
        border-width: 10px 10px 0 0;
        border-color: $white transparent transparent transparent;
        position: absolute;
        top: 0;
        right: -9px;
      }
    }
  }
}

@media (max-width: 560px) {
  .wrapper {
    width: 100%;
    height: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(0);
    
    .inner {
      height: 100%;
      height: 100vh;
    }
  }
}